[Desktop Entry]
Type=Application
Name=Shadowsocks Electron
Icon=${SNAP}/meta/gui/logo.png
Categories=Utility;
Exec=shadowsocks-electron
Terminal=false
