<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>electronux</title>
</head>
<body>
  <div id="root"></div>
  <script src="<%= htmlWebpackPlugin.options.vendor %>"></script>
</body>
</html>
