body {
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-js-cron-custom-select {
  background-color: inherit !important;
}

.react-js-cron .react-js-cron-field .MuiSelect-select > div {
  max-width: 15vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.crt-screen {
  white-space: pre-wrap !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: inherit;
  color: inherit;
}
